* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

section h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

section p {
    margin-bottom: 15px;
}

section img {
    height: 60%;
}

.cta {
    display: inline-block;
    padding: 7px 0;
    width: 100px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: #283773;
    background: #ffffff;
}

.modal-container {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 40%;
    height: 50%;
    background: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    /*overflow: hidden;*/
}

.modal>img {
    height: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

br {
    margin: 10px 0;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}